torch 
transformers 
rich 
ftfy  
tqdm 
pytorch-lightning
pandas 
seaborn 
pytest 
matplotlib 
scipy 
scikit-learn 
notebook 
openai 
datasets 
nltk 
accelerate 
tensorboardX 
urllib3==1.26.6 
protobuf==3.20.3 